@model Smart_HealthCare.Models.Zila

@{
    ViewBag.Title = "DeleteZila";
    Layout = "~/Views/Shared/_AdminLauout.cshtml";
}

<h5>Delete Zila</h5>

<h4 style="color:red">Are you sure you want to delete this?</h4>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ZilaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZilaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Division.DivisionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division.DivisionName)
        </dd>

       

     

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ZilaInformation")
        </div>
    }
</div>
